.googlesitekit-plugin {

	.googlesitekit-cta--activate-analytics {
		display: flex;
		flex-wrap: wrap;
	}

	.googlesitekit-cta--graph {
		flex: 1;
		min-width: 120px;
	}


	.mdc-button--cta {
		display: block;
		letter-spacing: normal;
		text-transform: none;
	}

	.googlesitekit-cta--analytics {
		display: flex;
		flex-wrap: wrap-reverse;

		> div {
			flex: 1;
			width: 50%;
		}
	}

	.googlesitekit-cta--analytics--full {

		> div {
			min-width: 300px;

			@media (min-width: $bp-tablet) {
				min-width: 200px;
			}
		}
	}

	.googlesitekit-cta--analytics--half {

		> div {
			min-width: 120px;
		}
	}
}
