.googlesitekit-plugin {

	.googlesitekit-cta--activate-analytics {
		display: flex;
		flex-wrap: wrap;
	}

	.googlesitekit-cta--graph {
		min-width: 100px;
	}


	.mdc-button--cta {
		letter-spacing: normal;
		text-transform: none;
	}
}
