name: Visual Regression Testing

on:
    workflow_dispatch
    # pull_request:
    # branches:
    #     - main
    #     - develop
    #     - 'feature/**'
    # # Only run if CSS/JS/MD-related files changed.
    # paths:
    #     - '.github/workflows/visual-regression.yml'
    #     - 'assets/**'
    #     - '!assets/**/__tests__/**/*.js'
    #     - '!assets/**/test/*.js'
    #     - '!assets/**/*.test.js'
    #     - '**.stories.js'
    #     - 'tests/backstop/**'
    #     - '.storybook/**'
    #     - '**.scss'
    #     - '.nvmrc'
    #     - '**/package.json'
    #     - 'package-lock.json'
    #     - 'src/tests/backstop/config.js'
    # types:
    #     - opened
    #     - reopened
    #     - synchronize
    #     - ready_for_review

concurrency:
    group: visual-regression-${{ github.ref }}
    cancel-in-progress: true

jobs:
    visual-regression:
        name: Run VR Tests
        runs-on: ubuntu-latest
        timeout-minutes: 20
        if: github.event.pull_request.draft == false
        steps:
            - uses: actions/checkout@v2
            - name: Setup Node.js (.nvmrc)
              uses: actions/setup-node@v3
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'
            - name: Test
              run: echo woo
